<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/lightbox.min.css" />
    <title>@ViewData["Title"]</title>
  </head>
  <body data-spy="scroll" data-target=".navbar">
    <div class="wrapper">
      <div class="container-fluid navbar--transparent fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" href="#hero"
                >الرئيسية <span class="sr-only">(current)</span></a
              >
              <a class="nav-link" href="#nabza">نبذة عنا</a>
              <a class="nav-link" href="#ro2yatna">رؤيتنا</a>
              <a class="nav-link" href="#ahdafna">أهدافنا</a>
              <a class="nav-link" href="#engazat">انجازاتنا</a>
              <a class="nav-link" href="#programs">برامجنا</a>
              <a class="nav-link" href="#gallery">لقطاتنا</a>
            </div>
          </div>
        </nav>
      </div>
     @RenderBody()
      <footer class="container-fluid box p-2">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="d-flex">
              <a href="https://www.instagram.com/jeddahsnipers/" class="mx-2">
                <img src="~/img/instagram.png" alt="" width="30px" />
              </a>
              <a href="https://wa.me/+966%2057%20195%209390" class="mx-2">
                <img src="~/img/whatsapp.png" alt="" width="30px" />
              </a>
              <a href="https://vm.tiktok.com/ZSe9YQDjd/" class="bg-white mx-2">
                <img src="~/img/tiktok.png" alt="" width="30px" />
              </a>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <p class="text-white text-right">
              Coded with <img src="~/img/heart.png" alt="" width="30px" /> by
              <a href="https://linktr.ee/ahmedmikkawe">Ahmed Mikkawe</a>
            </p>
          </div>
        </div>
      </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="~/js/lightbox.min.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
