* {
    font-family: 'Cairo', sans-serif;
}

body, * {
    scroll-behavior: smooth;
    position: relative;
}

.wrapper {
    min-height: 100vh;
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.navbar--transparent {
    background-color: rgba(0,0, 0, 0.75);
}

.navbar--logo {
    width: 50px;
}

.hero {
    min-height: 100vh;
}

.scroll-down {
    top: 80%;
    animation: scrollAnimate 2s infinite;
}

.line-height-2 {
    line-height: 2;
}

.box {
    background-color: rgba(0,0, 0, 0.75);
    overflow: hidden;
}

.map-location {
    width: 100%;
    min-height: 100vh;
}

    .map-location iframe {
        height: 100vh;
    }

@keyframes scrollAnimate {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}
