@{
    ViewData["Title"] = "Home Page";
}

 <div class="container">
        <div
          class="hero d-flex justify-content-center align-items-center position-relative flex-column"
        >
          <img
            src="~/img/logo.png"
            alt=""
            style="width: 170px; transform: translate(10px, 10px)"
          />
          <h1 class="h3 text-black font-weight-bold">Jeddah Snipers</h1>

          <div class="position-absolute scroll-down">
            <a href="#nabza">
              <img src="~/img/scroll.png" alt="" width="40px" />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="box p-5">
              <h2 class="h4 text-white text-center font-weight-bold" id="nabza">
                نبذة عنا
              </h2>
              <div class="row mt-3">
                <div class="col-12 col-md-6">
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    تأسست اكاديمية (Jeddah Snipers) لتعليم وتطوير مهارات كرة
                    القدم في تاريخ (2/3/2016) بمدينة جدة - المملكة العربيه
                    السعوديه ، وتوسعت على مدار فتره قصيره من الزمن بفضل الله عز
                    وجل ومن ثم الجهود المبذوله في إنجاح وتطوير الصرح و الإستمرار
                    في تحسين معايير مستوى الجوده و الأداء .
                  </p>
                </div>
                <div class="col-12 col-md-6">
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-right"
                    data-aos-duration="1500"
                  >
                    و تتيح الاكاديمية الفرصه الكاملة لأبناء المواطنين و المقيمين
                    لجميع الفئات السنية (الناشئين - الأشبال - البراعم) للتدرب في
                    بيئه رياضيه و صحية مناسبه في ملاعب بمواصفات و معايير الاتحاد
                    الكروي (فيفا) و تحت إشراف نخبه من المدربين المؤهلين الحاصلين
                    على شهادات معتمده لتدريب كرة القدم من الإتحاد السعودي لكرة
                    القدم .
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <div class="box p-5">
              <h2
                class="h4 text-white text-center font-weight-bold"
                id="ro2yatna"
              >
                رؤيتنا
              </h2>
              <div class="row mt-3">
                <div class="col-12">
                  <p
                    class="text-white line-height-2 text-center"
                    data-aos="zoom-in"
                    data-aos-duration="1500"
                  >
                    توفير بيئه صحيه تعليمية و تربوية مناسبة لتطوير أبناء
                    المستقبل الواعد ، و الإهتمام بجميع تفاصيل حياة اللاعبين
                    العامة و تطويرها بشكل إيجابي .
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <div class="box p-5">
              <h2
                class="h4 text-white text-center font-weight-bold"
                id="ahdafna"
              >
                أهدافنا
              </h2>
              <div class="row mt-3">
                <div class="col-12 col-md-6">
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    <span class="font-weight-bold">أولاً:</span>
                    إعداد و تأهيل براعم كرة القدم من خلال برامج رياضيه تربوية
                    متخصصة للإرتقاء بهم بدنياً ، نفسياً , ذهنياً و إجتماعياً
                    لأقرب مرحله من الإتقان و الإحتراف لكل من توهله مواهبه
                    وقدراته الفنيه .
                  </p>
                </div>
                <div class="col-12 col-md-6">
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-right"
                    data-aos-duration="1500"
                  >
                    <span class="font-weight-bold"> ثانياً: </span>
                    القدرة على الإكتشاف المبكر للاعبين الموهوبين و المتميزين منذ
                    الصغر بإستخدام اختبارات معينه و معاصره ، وتوفير بيئه و خطة
                    مناسبه لهم .
                  </p>
                </div>
                <div class="col-12 col-md-6">
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    <span class="font-weight-bold"> ثالثاً: </span>
                    إيصال اللاعبين المؤهلين و ذو القدره و الكفاءه إلى أنديه
                    محلية رسمية مثل ( الإتحاد السعودي و الأهلي السعودي و نادي
                    أحد و التعاون ) .
                  </p>
                </div>
                <div class="col-12 col-md-6">
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-right"
                    data-aos-duration="1500"
                  >
                    <span class="font-weight-bold"> رابعاً : </span>
                    تقوية العلاقات الإجتماعيه بين اللاعبين و توفير منصة محببه
                    لهم و كسب انتماءهم و وفاءهم للأكاديمية و حمل مبادئ ( المحبه
                    و التعاون و تحمل المسؤوليه ) .
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <div class="box p-5">
              <h2
                class="h4 text-white text-center font-weight-bold"
                id="engazat"
              >
                انجازاتنا
              </h2>
              <div class="row mt-3">
                <div class="col-12 col-md-6">
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    حققت الأكاديمية انتشاراً و صدى واسع و سيطاً بارزاً في الآونه
                    الأخيره بفضل الله وكرمه . و قد استطاعت الأكاديمية بفضل الله
                    و جهود و تطوير مدربيها على كسب قلوب عدد كبير من المحبين في
                    فترة وجيزه . و حققت الأكاديمية كما كبيراً من البطولات على
                    نطاق واسع و ضيق ، فكانت قد حصلت على عدد كبير من البطولات
                    حوالي 56 بطولة و قد حققت بعض المراكز و المناصب و من أبرزها :
                  </p>
                </div>
                <div class="col-12 col-md-6">
                  <ul class="text-white line-height-2">
                    <li
                      data-aos="fade-right"
                      data-aos-duration="1500"
                      class="mt-3"
                    >
                      بطولة مهد (التابعة لوزارة الرياضه السعوديه وتحت إشراف
                      الإتحاد السعودي ، والمقامة على ملاعب الجوهره ) لفئة مواليد
                      2008 .
                    </li>
                    <li
                      data-aos="fade-right"
                      data-aos-duration="2000"
                      class="mt-3"
                    >
                      بطولة المدرسة الاسبانيه .
                    </li>
                    <li
                      data-aos="fade-right"
                      data-aos-duration="2500"
                      class="mt-3"
                    >
                      بطولة أكاديمية المملكة .
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <div class="box p-5">
              <h2
                class="h4 text-white text-center font-weight-bold"
                id="programs"
              >
                برامجنا المعتمدة
              </h2>
              <div class="row mt-3">
                <div class="col-12">
                  <p
                    class="text-white line-height-2"
                    data-aos="zoom-in"
                    data-aos-duration="1500"
                  >
                    تبني أكاديمتنا خطط تدريبية مدروسة و مرسومة لكل فئه عمرية و
                    يقاس مدى تطور اللاعب حسب معايير و مقياس يوضع له ويقيم اللاعب
                    في كل نهاية كل 3 أشهر لمتابعة مدى استجابته و تطوره من ناحية
                    ( فعاليته - تطبيقه للخطط و البرامج التدريبية - تطور مستواه و
                    إنتاجيته و مدى حبه للصرح ) .
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <div class="box p-5">
              <h2 class="h4 text-white text-center font-weight-bold">
                من أبرز تلك البرامج
              </h2>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 col-md-6">
            <div class="box p-5">
              <h2 class="h4 text-white text-center font-weight-bold">
                البرنامج البدني
              </h2>
              <h3 class="h5 text-white text-center font-weight-bold">
                يحتوي على
              </h3>
              <div class="row mt-3">
                <div class="col-12">
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    (المرحله السنيه التي ينتمي لها كل لاعب )
                  </p>
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    (طرق التدريب التي تتناسب و تحقق الأهداف المطلوبه )
                  </p>
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    (الأدوات اللازمه لتنفيذ التدريبات البدنيه )
                  </p>
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    (عناصر اللياقة البدنية )
                  </p>
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    (عناصر مهارات التأسيس لكرة القدم )
                  </p>
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    (الأختبارات و القياسات التي تتم بشكل تتبعي خلال الموسم
                    التدريبي )
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="box p-5">
              <h2 class="h4 text-white text-center font-weight-bold">
                البرنامج الخططي
              </h2>
              <h3 class="h5 text-white text-center font-weight-bold">
                يحتوي على
              </h3>
              <div class="row mt-3">
                <div class="col-12">
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    (المبادئ الخططية الدفاعية و الهجومية )
                  </p>
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    (الجمل الخططية الفردية و الجماعية )
                  </p>
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    (التدريب على طرق اللعب المختلفه )
                  </p>
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    (التحرك بدون كرة في الدفاع و الهجوم )
                  </p>
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    (إيجاد مساحات خالية و استغلالها بالطرق الفردية و الجماعية )
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12 col-md-6">
            <div class="box p-5">
              <h2 class="h4 text-white text-center font-weight-bold">
                البرنامج المهاري
              </h2>
              <h3 class="h5 text-white text-center font-weight-bold">
                يحتوي على
              </h3>
              <div class="row mt-3">
                <div class="col-12">
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    (تدريبات الإحساس بالكرة )
                  </p>
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    (التدريبات الفنية )
                  </p>
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    (التدريبات على المهارات الأساسية )
                  </p>
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    (التدريبات على الجمل المركبة )
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="box p-5">
              <h2 class="h4 text-white text-center font-weight-bold">
                البرنامج النفسي و الإجتماعي
              </h2>
              <div class="row mt-3">
                <div class="col-12">
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    تقدم الأكاديمية في هذ الجانب كم و مستوى عالٍ من الاهتمام حيث
                    أن سياستنا مبنيه على كسب حب اللاعب لصرح الأكاديمية و لشعوره
                    بانتماء و حب لزملائه اللاعبين و لكيان الأكاديمية فيتضمن هذا
                    البرنامج مجموعة من الاهداف و من أبرزها :
                  </p>
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    (الإرشاد النفسي التوجيهي )
                  </p>
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    (فعاليات و أنشطه خارج محور كرة القدم )
                  </p>
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    (رحلات ترفيهية )
                  </p>
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    (معسكرات تربوية و إعدادية أيضاً )
                  </p>
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    تكريم شهري مستمر لللاعبين المتميزين و المشاركين في
                    الأكاديمية تحفيزاً لهم على إستمرايتهم و تطورهم
                  </p>
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    إقامة الفعاليات و المناسبات بشكل مستمر و ثابت لكل مناسبة
                    سواء وطنية أو محلية
                  </p>
                  <p
                    class="text-white line-height-2"
                    data-aos="fade-left"
                    data-aos-duration="1500"
                  >
                    الإهتمام بتفاصيل اللاعبين البسيطه مثل : ( إقامة احتفاليه لكل
                    لاعب وقت عيد ميلاده )
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <div class="box p-5">
              <h2
                class="h4 text-white text-center font-weight-bold"
                id="gallery"
              >
                لقطاتنا
              </h2>
              <div class="row mt-3">
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/1.jpeg" data-lightbox="gallery">
                    <img
                      src="~/img/1.jpeg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                    />
                  </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/2.jpeg" data-lightbox="gallery">
                    <img
                      src="~/img/2.jpeg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                    />
                  </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/3.jpeg" data-lightbox="gallery">
                    <img
                      src="~/img/3.jpeg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                    />
                  </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/4.jpeg" data-lightbox="gallery">
                    <img
                      src="~/img/4.jpeg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                    />
                  </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/5.jpeg" data-lightbox="gallery">
                    <img
                      src="~/img/5.jpeg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                    />
                  </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/6.jpeg" data-lightbox="gallery">
                    <img
                      src="~/img/6.jpeg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                    />
                  </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/7.jpeg" data-lightbox="gallery">
                    <img
                      src="~/img/7.jpeg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                    />
                  </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/8.jpg" data-lightbox="gallery">
                    <img
                      src="~/img/8.jpg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                    />
                  </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/9.jpg" data-lightbox="gallery">
                    <img
                      src="~/img/9.jpg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                    />
                  </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/10.jpg" data-lightbox="gallery">
                    <img
                      src="~/img/10.jpg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                  /></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/11.jpg" data-lightbox="gallery">
                    <img
                      src="~/img/11.jpg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                  /></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/12.jpg" data-lightbox="gallery">
                    <img
                      src="img/12.jpg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                  /></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/13.jpg" data-lightbox="gallery">
                    <img
                      src="~/img/13.jpg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                  /></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/14.jpg" data-lightbox="gallery">
                    <img
                      src="~/img/14.jpg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                  /></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/15.jpg" data-lightbox="gallery">
                    <img
                      src="~/img/15.jpg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                  /></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/16.jpg" data-lightbox="gallery">
                    <img
                      src="~/img/16.jpg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                  /></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/17.jpg" data-lightbox="gallery">
                    <img
                      src="~/img/17.jpg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                  /></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/18.jpg" data-lightbox="gallery">
                    <img
                      src="~/img/18.jpg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                  /></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/19.jpg" data-lightbox="gallery">
                    <img
                      src="~/img/19.jpg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                  /></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/20.jpg" data-lightbox="gallery">
                    <img
                      src="~/img/20.jpg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                  /></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/21.jpg" data-lightbox="gallery">
                    <img
                      src="~/img/21.jpg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                  /></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/22.jpg" data-lightbox="gallery">
                    <img
                      src="~/img/22.jpg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                  /></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/23.jpg" data-lightbox="gallery">
                    <img
                      src="~/img/23.jpg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                  /></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/24.jpg" data-lightbox="gallery">
                    <img
                      src="~/img/24.jpg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                  /></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xlg-3">
                  <a href="~/img/25.jpg" data-lightbox="gallery">
                    <img
                      src="~/img/25.jpg"
                      alt=""
                      loading="lazy"
                      class="img-fluid mt-3"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid p-0 my-5">
        <div class="map-location">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3710.320351712268!2d39.146372!3d21.573414999999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0!2zMjHCsDM0JzI0LjMiTiAzOcKwMDgnNDYuOSJF!5e0!3m2!1sen!2seg!4v1658896990210!5m2!1sen!2seg"
            width="100%"
            height="100%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>