@model JeddahSnipers.ViewModels.StudentAndParent

@{
    ViewData["Title"] = "AddNewStudent";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <form role="form" method="post" asp-action="AddNewStudent" enctype="multipart/form-data">
            <div class="row mt-2">
                <div class="col-12 col-md-6">
                    <div class="text-danger" asp-validation-summary="ModelOnly" ></div>
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">بيانات الطالب</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->

                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 mx-auto">
                                    <div class="border rounded">
                                        <img class="img-thumbnail" src="~/uploads/default-user.png" alt="" id="studentImage" />
                                       <input class="form-control-file" asp-for="studentImage" type="file" accept="image/*" id="Image"/>
                                     </div>
                                </div>

                                <!----------------------------------------- نضيف تصنيف و مجموعه (هنجيبهم بفور ايتش من الداتابيز ------------------------------------->
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="StudentFirstName">الاسم الاول</label>
                                        <input type="text"
                                               class="form-control"
                                               asp-for="student.FirstName"                                               
                                                placeholder="الاسم الاول"/>
                                               <span asp-validation-for="student.FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="StudentLastName">اسم العائلة</label>
                                        <input type="text"
                                               class="form-control"
                                               asp-for="student.LastName"
                                               placeholder="اسم العائلة"/>
                                               <span asp-validation-for="student.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="StudentNationality">التصنيف</label>
                                        <select class="form-control" asp-for="student.CategoryId" >
                                                  <option>التصنيف</option>

                                               @foreach (var category in Model.categories)
                                              {
                                                  <option value="@category.CategoryId">@category.CategoryName</option>
                                              }
                                        </select>
                                        <span asp-validation-for="student.CategoryId" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="StudentNationality">مجموعة</label>
                                        <select class="form-control" asp-for="student.GroupId" >
                                            <option >اختر مجموعة</option>
                                            @foreach (var group in Model.groups)
                                           {
                                            <option value="@group.GroupId">@group.GroupName</option>
                                               
                                           }
                                            
                                        </select>
                                        <span asp-validation-for="student.GroupId" class="text-danger"></span>

                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="StudentBirthDate">تاريخ الميلاد</label>
                                        <input type="date"
                                               class="form-control"
                                               asp-for="student.BirthDate"/>
                                         <span asp-validation-for="student.BirthDate" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="StudentNationality">الجنسية</label>
                                        <select class="form-control" asp-for="student.Nationality" >
                                            <option value="">اختر الجنسية</option>
                                            <option value="مقيم">مقيم</option>
                                            <option value="سعودي">سعودي</option>
                                        </select>
                                        <span asp-validation-for="student.Nationality" class="text-danger"></span>

                                    </div>
                                </div>
                                @*<div class="col-12 col-md-6">
                                      <div class="form-group">
                                        <label for="nationalId">رقم الهوية</label>
                                        <input
                                          type="text"
                                          class="form-control"
                                          id="nationalId"
                                               asp-for="StudentId"
                                        />
                                      </div>
                                    </div>*@
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="StudentPhone">رقم الجوال</label>
                                        <input type="text"
                                               class="form-control"
                                               asp-for="student.Phone"
                                                />
                                               <span asp-validation-for="student.Phone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="StudentNationalIDFile">رفع هوية الطالب</label>
                                        <input type="file"
                                               class="form-control-file"
                                               
                                               asp-for="StudentNationalIDFile" />
                                               <span asp-validation-for="StudentNationalIDFile" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="StudentApplicationFile">رفع النموذج</label>
                                        <input type="file"
                                               class="form-control-file"
                                               asp-for="StudentApplicationFile" />
                                               <span asp-validation-for="StudentApplicationFile" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="StudentAddress">العنوان</label>
                                        <textarea class="form-control"
                                                  rows="3"
                                                  asp-for="student.Address"></textarea>
                                                  <span asp-validation-for="student.Address" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="StudentPassword">كلمة المرور</label>
                                        <input type="password"
                                               class="form-control"
                                               placeholder="كلمة المرور"
                                               asp-for="student.Password" />
                                               <span asp-validation-for="student.Password" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">معلومات ولي الأمر</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->

                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="ParentFirstName">الاسم الاول</label>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="الاسم الاول"
                                               asp-for="student.ParentFirstName" />
                                               <span asp-validation-for="student.ParentFirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="ParentLastName">اسم العائلة</label>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="اسم العائلة"
                                               asp-for="student.ParentLastName" />
                                               <span asp-validation-for="student.ParentLastName" class="text-danger"></span>

                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="ParentPhone">رقم الجوال</label>
                                        <input type="text"
                                               class="form-control"
                                               asp-for="student.ParentPhone" />
                                               <span asp-validation-for="student.ParentPhone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="ParentEmergencyPhone">رقم الجوال للطوارئ</label>
                                        <input type="text"
                                               class="form-control"
                                               asp-for="student.ParentEmergencyPhone" />
                                               <span asp-validation-for="student.ParentEmergencyPhone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="Parentrelation">ولي الأمر</label>
                                        <select class="form-control"  asp-for="student.ParentRelation">
                                            <option value="">صلة القرابة</option>
                                            <option value="اخ">اخ</option>
                                            <option value="اخت">اخت</option>
                                            <option value="والد">والد</option>
                                            <option value="والدة">والدة</option>
                                            <option value="اخرى">اخرى</option>
                                        </select>
                                        <span asp-validation-for="student.ParentRelation" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">الحالة البدنية</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->

                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="StudentGender">الجنس</label>
                                        <select class="form-control" asp-for="student.Gender">
                                            <option value="ذكر">ذكر</option>
                                            <option value="أنثى">أنثى</option>
                                        </select>
                                        <span asp-validation-for="student.Gender" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="StudentWeight">الوزن</label>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="الوزن"
                                               asp-for="student.Weight" />
                                               <span asp-validation-for="student.Weight" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="StudentHeight">الطول</label>
                                        <input type="text" class="form-control" asp-for="student.Height" />
                                        <span asp-validation-for="student.Height" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="StudentBloodType">فصيلة الدم</label>
                                        <select class="form-control" asp-for="student.BloodType">
                                            <option value="">حدد فصيلة الدم</option>
                                            <option value="A-">A-</option>
                                            <option value="A+">A+</option>
                                            <option value="AB">AB</option>
                                            <option value="B+">B+</option>
                                            <option value="O+">O+</option>
                                            <option value="O-">O-</option>
                                            <option value="B-">B-</option>
                                        </select>
                                        <span asp-validation-for="student.BloodType" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="StudentFavoriteFoot">القدم المفضلة</label>
                                        <select class="form-control" asp-for="student.FavoriteFoot">
                                            <option value="">حدد القدم المفضلة</option>
                                            <option value="اليمنى">اليمنى</option>
                                            <option value="اليسرى">اليسرى</option>
                                            <option value="">الاثنين</option>
                                        </select>
                                        <span asp-validation-for="student.FavoriteFoot" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="StudentPowerOfSight">النظر</label>
                                        <select class="form-control" asp-for="student.PowerOfSight">
                                            <option value="">قوة النظر</option>
                                            <option value="جيدة">جيدة</option>
                                            <option value="يحتاج نظارة">يحتاج نظارة</option>
                                        </select>
                                        <span asp-validation-for="student.PowerOfSight" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="StudentAllergicTo">حساسية من</label>
                                        <input type="text" class="form-control" asp-for="student.AllergicTo" />
                                        <span asp-validation-for="student.AllergicTo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="font-weight-bold">نقص فيتامين</p>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input"
                                                       type="radio"
                                                      
                                                       value="True" asp-for="student.VitaminDeficiency" />
                                                <label class="form-check-label"
                                                       for="vitlacknessyes">نعم</label>
                                                       <span asp-validation-for="student.VitaminDeficiency" class="text-danger"></span>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input"
                                                       type="radio"
                                                       asp-for="student.VitaminDeficiency"
                                                       value="False"  />
                                                <label class="form-check-label"
                                                       for="vitlacknessno">لا</label>
                                                       <span asp-validation-for="student.VitaminDeficiency" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="font-weight-bold">
                                                هل يعاني من أي مشاكل صحية
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input"
                                                       type="radio"
                                                       value="True" asp-for="student.HealthProblems" />
                                                <label class="form-check-label"
                                                       for="healthProblemsYes">نعم</label>
                                                       <span asp-validation-for="student.HealthProblems" class="text-danger"></span>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input"
                                                       type="radio"
                                                       value="False" asp-for="student.HealthProblems" />
                                                <label class="form-check-label"
                                                       for="healthProblemsNo">لا</label>
                                                       <span asp-validation-for="student.HealthProblems" class="text-danger"></span>

                                            </div>
                                            <input type="text"
                                                   class="form-control"
                                                    asp-for="student.HealthProblemsDesc" />
                                                   <span asp-validation-for="student.HealthProblemsDesc" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mx-auto">
                <button type="submit" class="btn btn-block btn-primary mb-2">
                    حفظ
                </button>
            </div>
        </form>
    </div>
    <!-- /.container-fluid -->
</section>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}