
@{
    ViewData["Title"] = "AddNewCoach";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<h1>AddNewCoach</h1>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}