
@{
    ViewData["Title"] = "SubscriberList";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<h1>        <section class="content">
          <div class="container-fluid">
            <div class="row mb-2 mt-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark h5">تصنيف المشتركين</h1>
              </div>
              <!-- /.col -->
              <div class="col-sm-6">
                <button class="btn btn-primary mt-2">أضف تصنيف</button>
              </div>
              <!-- /.col -->
            </div>
            <div class="row mt-2">
              <!-- table here -->
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>
</h1>

