@model JeddahSnipers.ViewModels.AddNewCoachViewModel
@{
    ViewData["Title"] = "Update Coach";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}
<style>
    .container {
        position: relative;
        min-width: 170px;
        max-width: 200px;
    }

    .image {
        object-fit: cover;
        display: block;
        width: 100%;
        height: auto;
        max-height: 140px;
        min-height: 140px;
    }

    .overlay {
        border-radius: 5px;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 83%;
        min-width: 170px;
        max-width: 190px;
        opacity: 0;
        transition: .3s ease;
        background-color: #00000078;
    }

    .container:hover .overlay {
        opacity: 1;
    }

    .icon {
        font-size: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        cursor: pointer;
    }
</style>


<section class="content">
    <div class="container-fluid">
        <form role="form" method="post" asp-action="UpdateCoach" enctype="multipart/form-data">
            <input hidden asp-for="coach.CoachId" />
            
            <div class="row mt-2">
                <div class="col-12">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">بيانات المدرب</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->

                        <div class="card-body">
                            <div class="row">
                                <div class="col-12" style=" margin-bottom: 15px; ">
                                    <div>
                                        <div style="display:flex">
                                            <div class="container">
                                                <input hidden asp-for="coach.CVFile"/>
                                                <input hidden asp-for="coach.Image"/>
                                                @if (Model.coach.Image != null)
                                                {
                                                    <img id="img" src="~/uploads/@Model.coach.Image" class="image img-responsive img-thumbnail">
                                                }
                                                else
                                                {
                                                    <img id="img" src="~/img/defaultUser2.jfif" class="image img-responsive img-thumbnail">
                                                }
                                                <div class="overlay">
                                                    <label for="image"><i class="fa fa-plus icon"></i></label>
                                                    <input type="file" name="Image" id="image" style="display:none;visibility:none;" onchange="getImage(this.files[0]);" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!----------------------------------------- نضيف تصنيف و مجموعه (هنجيبهم بفور ايتش من الداتابيز ------------------------------------->
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="coach.FirstName">الاسم الاول</label>
                                        <input type="text"
                                               class="form-control"
                                               asp-for="coach.FirstName"
                                               placeholder="الاسم الاول" />
                                        <span asp-validation-for="coach.FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="StudentLastName">اسم العائلة</label>
                                        <input type="text"
                                               class="form-control"
                                               asp-for="coach.LastName"
                                               placeholder="اسم العائلة" />
                                        <span asp-validation-for="coach.LastName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="BirthDate">تاريخ الميلاد</label>
                                        <input type="date"
                                               class="form-control"
                                               asp-for="coach.BirthDate" />
                                        <span asp-validation-for="coach.BirthDate" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="Gender">الجنس</label>
                                        <select class="form-control" asp-for="coach.Gender">
                                            <option value="ذكر">ذكر</option>
                                            <option value="أنثى">أنثى</option>
                                        </select>
                                        <span asp-validation-for="coach.Gender" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="Nationality">الجنسية</label>
                                        <select class="form-control" asp-for="coach.Nationality">
                                            <option value="">اختر الجنسية</option>
                                            <option value="مقيم">مقيم</option>
                                            <option value="سعودي">سعودي</option>
                                        </select>
                                        <span asp-validation-for="coach.Nationality" class="text-danger"></span>

                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input hidden asp-for="coach.CVFile"/>
                                        <label for="StudentApplicationFile">رفع السيرة الذاتية</label>
                                        <input type="file"
                                               class="form-control-file"
                                               asp-for="coach.CVFile" />
                                        <span asp-validation-for="coach.CVFile" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mx-auto">
                <button type="submit" class="btn btn-block btn-primary mb-2">
                    حفظ
                </button>
            </div>
        </form>
    </div>
    <!-- /.container-fluid -->
</section>
<script>
    function getImage(imagevalue) {
        debugger;
        if (imagevalue) {
            let reader = new FileReader();
            reader.onload = function (event) {
                $('#icon').remove();
                $('#img').attr("src", event.target.result);
            };
            reader.readAsDataURL(imagevalue);
        }
    }
</script>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>



    </script>
}